@font-face {
    font-family: suisse-intl;
    src: url(intl/SuisseIntl-Regular.otf);
  }

  @font-face {
    font-family: suisse-works;
    src: url(works/SuisseWorks-Regular.otf);
  }
  
  @font-face {
    font-family: suisse-intl-medium;
    src: url(intl/SuisseIntl-Medium.otf);
  }


html{
    scroll-behavior: smooth;

    /* cursor: none; */
}

#circularcursor {
    background-color: red;
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
  }



body {
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: suisse-intl;
    font-size: 14px;
    color: black;
    background-color: #f7f7f7;
  overflow-x: hidden;
    

}

p {
    font-family: suisse-intl;
    font-size: 14px;
}

.p-medium {
    font-family: suisse-intl-medium;

}

.presentation-text {
 margin-top: 50px;
    margin-bottom: 200px;
}

.text-attribute{
    font-family: suisse-intl;
    font-size: 32px;
    line-height: 1.2;
}

.titolo-progetto {
    font-family: suisse-intl;
    font-size: 42px;
    line-height: 0.9; 
}

.sottotitolo-progetto {
    font-family: suisse-intl;
    font-size: 18px;
 padding-bottom: 40px;
}

.info-progetto{
   margin-bottom: 6vw;

}

.line-height-infoprogetto {
    line-height: 1.3;
}



h1 {
    font-family: suisse-intl;
    font-size: 24px;
}

a {
    font-family: suisse-intl;
    font-size: 14px;
    color: black;
}

img {
    border-radius: 6px;
}



a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



.year-number {
    font-family: suisse-intl;
    font-size: 14px;

}

.container-fluid{
padding: 0;
    margin-top: 40px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 10px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;


  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }



.video_homepage {
 height: 96vh;
 width: 96vw;
   padding-top: 70px;
    align-items: center;
z-index: 3;

}

.video_1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    
}

video {
    border-radius: 10px;
}


/* --------css card index--------*/

.card {
    min-height: 20px;
    border: 0px;
   
}

.card-body {
    padding: 2px;
}

.card-footer {
    background: none;
    border-top: none;
    padding: 2px;
}

.column {
    width: 25%;
    background-color: aqua;
}


.card img {
    width: 100%;
    transition: 0.25s all ease-in-out;
}

.card:hover img {
    transform: scale(1.02);
}



/* -------- footer--------*/


ul{
    list-style-type: none;
    
padding-left: 0px;
}

.footer-totale {
    margin-top: 150px;
    padding: 0;
}




/* media query per footer */

.text-justify-xs-center {
    justify-content: center;
}

.text-justify-xs-right {
    justify-content: right;
}

.text-justify-xs-between {
    justify-content: space-between;
}



/* MEDIA QUERY PER FOOTER ||||||||||| Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        justify-content: left;
    }
  
}

@media (min-width: 768px) {
    .text-right-sm {
        justify-content: right;
    }}

    @media (min-width: 768px) {
        .text-center-sm {
            justify-content: center;
          
        }
}

@media (min-width: 768px) {
    .paddingx-8 {
        padding-left: 8px;
        padding-right: 8px;
      
    }

}

@media (min-width: 768px) {
    .paddingl-8 {
        padding-left: 8px;
        
    }
    
}
@media (min-width: 768px) {
    .paddingr-8 {
        padding-right: 8px;
        
    }
    
}

@media (min-width: 768px) {
    .concept {
        margin-bottom: 30px;
        
    }
    
}







.container-info {
    padding-left: 2vw;
}


@media (max-width: 768px) {
   html {
    overflow-x: hidden;
   }
   .container-info {
     padding-left: 5vw;
    padding-right: 5vw;
   
   }
   .container-foto {
    padding-left: 5vw;
   padding-right: 5vw;
  
  }
  
  .footer-totale {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .navbar {
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #f7f7f7;
  }

  .video_homepage {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .presentation-text {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #projects {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}



@media (min-width: 768px){

.navbar {
    background-color: #f7f7f7;
    padding-right: 2vw;
    padding-left: 2vw;
}
}

/* --------PROGETTI PAGINA--------*/

.sticky-md-top{
    top: 80px;
}


.container-project {
    margin-top: 60px;
}

